h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
}

.smallText {
  font-family: 'M PLUS 1p', sans-serif;
}

body {
  background-color: #f7f7f5;
  font-family: 'Roboto', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #00259c;
  text-decoration: none;
}

.itemSectionName {
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}

.secondarySectionName {
  font-size: 1.2rem;
  font-weight: 700;
}

.itemDetailsHolder {
  padding-left: .5rem;
  padding-right: .5rem;
  padding-bottom: .1rem;
  padding-top: .1rem;
  margin-top: .5rem;
}

.pageContentCard {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
}