:root {
  --primary: #5A4EA6;
  --secondary: #3F3CA6;
  --text-primary: #120504;
  --text-secondary: #787878;
  --background-primary: #F2F2F2;
  --background-secondary: #d8d8d8;
}

h1, h2, h3 {
  font-family: 'Assistant', sans-serif;
  font-weight: 700;
}

h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

body {
  background-color: var(--background-primary);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.smallText {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: .4rem;
}

svg {
  user-select: none;
}

a, a:visited {
  text-decoration: none;
  color: var(--secondary) !important;
}

.decorativeBottomBorder {
  border-bottom: 2px solid var(--primary) !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.clickableBackground:hover {
  background-color: var(--background-secondary);
}